<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feedMapper">
<!-- 리스트 -->
<select id="listCount" resultType="_int">
	SELECT COUNT(*)
	FROM FEED
	WHERE STATUS ='Y'
</select>

<resultMap type="Feed" id="feedResultSet">
		<result column="FEED_NO" property="feedNo"/>
		<result column="FEED_CONTENT" property="feedContent"/>
		<result column="FEED_WRITER" property="feedWriter"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="STATUS" property="status"/>
		<result column="FEED_LOCATION" property="feedLocation"/>
	 
	</resultMap>

<insert id="insertFeed" parameterType="Feed">
    INSERT INTO FEED(FEED_NO
    				,FEED_CONTENT
    				,FEED_WRITER
    				,ORIGIN_NAME
    				,CHANGE_NAME
    				,FEED_LOCATION)
	    VALUES(SEQ_FNO.NEXTVAL
	    	   ,#{feedContent}
	    	   ,#{feedWriter}
	    	   ,#{originName}
	    	   ,#{changeName}
	    	   ,#{feedLocation})
</insert>     

<select id="selectList" resultMap="feedResultSet">
	SELECT FEED_NO
	      ,FEED_CONTENT
	      ,FEED_WRITER
	      ,CREATE_DATE
	      ,CHANGE_NAME
	      ,FEED_LOCATION
	FROM FEED
	WHERE STATUS = 'Y'
 	ORDER BY CREATE_DATE DESC   
</select>     

<select id="replyList" resultType="Reply" parameterType="_int">
	SELECT	
		   	REPLY_NO replyNo
		   ,FEED_NO feedNo	
		   ,RE_CONTENT reContent
		   ,USER_ID userId
		   ,CREATE_DATE createDate
		FROM REPLY
		WHERE FEED_NO = #{feedNo} 
		AND STATUS = 'Y'
		ORDER BY CREATE_DATE DESC
</select>

<insert id="insertReply" parameterType="Reply">
	INSERT INTO REPLY(REPLY_NO
                     ,RE_CONTENT
                     ,FEED_NO
                     ,USER_ID)
           VALUES(SEQ_RNO.NEXTVAL
           		  ,#{reContent}
           		  ,#{feedNo}
           		  ,#{userId})
</insert>

<select id="selectFeed" resultMap="feedResultSet" parameterType="_int">
	SELECT FEED_NO
		  ,FEED_CONTENT
		  ,FEED_WRITER
		  ,CREATE_DATE
		  ,CHANGE_NAME
		  ,FEED_LOCATION
	FROM FEED
	WHERE FEED_NO = #{feedNo}
	AND STATUS = 'Y'
</select>




</mapper>