<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="feedMapper">
	<!-- 리스트 -->
	<select id="listCount" resultType="_int">
		SELECT COUNT(*)
		FROM FEED
		WHERE STATUS ='Y'
	</select>
	
	<resultMap type="Feed" id="feedResultSet">
			<result column="FEED_NO" property="feedNo"/>
			<result column="FEED_CONTENT" property="feedContent"/>
			<result column="FEED_WRITER" property="feedWriter"/>
			<result column="CREATE_DATE" property="createDate"/>
			<result column="ORIGIN_NAME" property="originName"/>
			<result column="CHANGE_NAME" property="changeName"/>
			<result column="STATUS" property="status"/>
			<result column="FEED_LOCATION" property="feedLocation"/>
		 
		</resultMap>
	
	<insert id="insertFeed" parameterType="Feed">
	    INSERT INTO FEED(FEED_NO
	    				,FEED_CONTENT
	    				,FEED_WRITER
	    				,ORIGIN_NAME
	    				,CHANGE_NAME
	    				,FEED_LOCATION)
		    VALUES(SEQ_FNO.NEXTVAL
		    	   ,#{feedContent}
		    	   ,#{feedWriter}
		    	   ,#{originName}
		    	   ,#{changeName}
		    	   ,#{feedLocation})
	</insert>     
	
	<select id="selectList" resultMap="feedResultSet">
		SELECT FEED_NO
		      ,FEED_CONTENT
		      ,FEED_WRITER
		      ,CREATE_DATE
		      ,CHANGE_NAME
		      ,FEED_LOCATION
		FROM FEED
		WHERE STATUS = 'Y'
	 	ORDER BY CREATE_DATE DESC   
	</select>     
	
	<select id="replyList" resultType="Reply" parameterType="_int">
	SELECT  REPLY_NO replyNo
		   ,RE_CONTENT reContent
		   ,USER_ID userId
		   ,CREATE_DATE createDate
		FROM REPLY
		WHERE FEED_NO = #{feedNo} 
		AND STATUS = 'Y'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY(REPLY_NO
	                     ,RE_CONTENT
	                     ,FEED_NO
	                     ,USER_ID)
	           VALUES(SEQ_RNO.NEXTVAL
	           		  ,#{reContent}
	           		  ,#{feedNo}
	           		  ,#{userId})
	</insert>
	
	<select id="selectFeed" resultMap="feedResultSet" parameterType="_int">
		SELECT FEED_NO
			  ,FEED_CONTENT
			  ,FEED_WRITER
			  ,CREATE_DATE
			  ,CHANGE_NAME
			  ,FEED_LOCATION
		FROM FEED
		WHERE FEED_NO = #{feedNo}
		AND STATUS = 'Y'
	</select>
	
	 <!-- 좋아요 추가 -->
    <insert id="insertLike" parameterType="FeedLike">
        INSERT INTO FEED_LIKE (FEED_LIKE,USER_ID, FEED_NO)
        VALUES (SEQ_LNO.NEXTVAL,#{userId}, #{feedNo})
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="deleteLike" parameterType="FeedLike">
        DELETE FROM FEED_LIKE
        WHERE USER_ID = #{userId}
        AND FEED_NO = #{feedNo}
    </delete>

    <!-- 좋아요 수 증가 -->
    <update id="addCount" parameterType="_int">
        UPDATE FEED
        SET LIKE_COUNT = LIKE_COUNT + 1
        WHERE FEED_NO = #{feedNo}
    </update>

    <!-- 좋아요 수 감소 -->
    <update id="removeCount" parameterType="_int">
        UPDATE FEED
        SET LIKE_COUNT = LIKE_COUNT - 1
        WHERE FEED_NO = #{feedNo}
    </update>

    <!-- 좋아요 여부 확인 -->
    <select id="likeCheck" parameterType="map" resultType="_int">
        SELECT COUNT(*)
        FROM FEED_LIKE
        WHERE FEED_NO = #{feedNo}
        AND USER_ID = #{userId}
    </select>

    <!-- 좋아요 수 조회 -->
    <select id="likeCount" parameterType="_int" resultType="_int">
        SELECT LIKE_COUNT
        FROM FEED
        WHERE FEED_NO = #{feedNo}
    </select>
		
	<select id="searchTag" parameterType="Tag" resultType="Tag">
		SELECT TAG_CONTENT tagContent, REF_FNO refFno FROM TAG WHERE TAG_CONTENT LIKE '%'||#{tagContent}||'%'
	</select>

	<select id="selectTag" parameterType="Tag" resultMap="feedResultSet">
		SELECT FEED_NO
		      ,FEED_CONTENT
		      ,FEED_WRITER
		      ,CREATE_DATE
		      ,CHANGE_NAME
		      ,FEED_LOCATION
		FROM FEED
		WHERE STATUS = 'Y'
        AND FEED_NO IN (SELECT REF_FNO
                        FROM TAG
                        WHERE TAG_CONTENT=#{tagContent})
	 	ORDER BY CREATE_DATE DESC
	</select>

</mapper>